body {
    font-size: 1rem;
    border-block: box-sizing;
}

.main {
   /* margin: 50px 0; */
    background-color: aqua;
    padding: 150px 0;
}

.project--img {
    width: 100%;
    padding-top: 10px;
}

.skills--img {
    width: 72%;
}

.project--title {
    padding-top: 100px;
    padding-bottom: 50px;
}

.contact {
    padding: 50px 0;
}

 /* .icon {
    font-size: 3.2rem;
    color: blueviolet;
} */

.fa {
    font-size: 2rem;
    color: red;
}

.name {
    color: palevioletred;
}

.about--title {
    font-size: 65px;
    padding-top:50px;
    padding-bottom: 50px;  
}

.main--subtitle {
    padding-bottom: 25px;
}